<div class='container text-center'>
  <div>
  <h1 class="title pb-4">Stupid Coach</h1>
  </div>

  <div>
    <form action="answer" data-turbo="false">
      <label for="">Ask anything</label>
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
